@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,
body,
#root{
height:100%;
}

body{

margin:0;

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

background:
linear-gradient(
135deg,
#EEF4FF,
#E8FBF8
);

padding:25px;

}

button,
input{

font-family:inherit;

}

button{

cursor:pointer;

border:none;

transition:.3s;

}

button:hover{

transform:translateY(-2px);

}

::-webkit-scrollbar{

width:7px;

}

::-webkit-scrollbar-thumb{

background:#CBD5E1;

border-radius:10px;

}

::-webkit-scrollbar-track{

background:transparent;

}